{#
/*
 * Oasys Digital Signage
 * 
 * 
 */
#}

{% extends "form-base.twig" %}
{% import "forms.twig" as forms %}

{% block formTitle %}
    {% trans "Add Media via URL" %}
{% endblock %}

{% block formButtons %}
    {% trans "Help" %}, XiboHelpRender("{{ help }}")
    {% trans "Cancel" %}, XiboDialogClose()
    {% trans "Save" %}, $("#libraryUploadFromUrlForm").submit()
{% endblock %}

{% block formHtml %}
    <div class="row">
        <div class="col-md-12">
            <form id="libraryUploadFromUrlForm" class="XiboForm form-horizontal" method="post" action="{{ urlFor("library.uploadFromUrl") }}">
                <div class="well">
                    {{ uploadSizeMessage }}
                </div>

                {% set title %}{% trans "URL" %}{% endset %}
                {% set helpText %}{% trans "Please provide the remote URL to the file" %}{% endset %}
                {{ forms.input("url", title, "", helpText) }}

                {% set title %}{% trans "Name" %}{% endset %}
                {% set helpText %}{% trans "Optional Media name, if left empty it will default to the file name" %}{% endset %}
                {{ forms.input("optionalName", title, "", helpText) }}

                {% set title %}{% trans "Enable Media Stats Collection?" %}{% endset %}
                {% set helpText %}{% trans "Enable the collection of Proof of Play statistics for this Media Item. Ensure that ‘Enable Stats Collection’ is set to ‘On’ in the Display Settings." %}{% endset %}

                {% set offOption %}{% trans "Off" %}{% endset %}
                {% set onOption %}{% trans "On" %}{% endset %}
                {% set inheritOption %}{% trans "Inherit" %}{% endset %}
                {% set options = [
                    { id: "Off", value: offOption },
                    { id: "On", value: onOption },
                    { id: "Inherit", value: inheritOption }
                ] %}
                {{ forms.dropdown("enableStat", "single", title, theme.getSetting("MEDIA_STATS_ENABLED_DEFAULT"), options, "id", "value", helpText) }}
            </form>
        </div>
    </div>
{% endblock %}